header {
    background: blueviolet;
    height: 80px;    
}

body {
    font-family: sans-serif;
    background-color: white;
}

header {    
    background: black;
    color: white;
    padding: 20px;
    text-align: center;
    display: flex;
}

h1 {
    font-size: 3em;
}

img {
    max-width: 30%;
}

p {
    font-size: 1.5em;    
}

footer {    
    background-color: #cccccccc;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}